@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
  }
}

body {
  color: rgb(148 163 184/var(--tw-text-opacity));
  background-color: rgb(15 23 42/var(--tw-bg-opacity));
  font-family: 'Inter', sans-serif;
}
